@charset "utf-8";

/* Table Of Contents
----------------------------------------

# General Elements
# gNav
# pageBody
# content
# sidebar
# clearfix
# common classes

----------------------------------------*/


/* # General Elements
---------------------------------------------------------------------------- */


/* # content
---------------------------------------------------------------------------- */

div#content div.sHeadSection {
	clear: both;
	padding: 46px 0 13px 0;
}

div#content div.sHeadSection h3 {
	padding: 0 0 17px 0;
}

div#content div.sHeadSection ul.document li {
	clear: both;
	padding: 0 0 5px 0;
}

div#content div.sHeadSection ul.document li.documentLast {
	padding: 0;
}

div#content div.sHeadSection ul.document li input {
	float: left;
	padding: 2px 0 0 0;
	margin-left: 0;
}

div#content div.sHeadSection ul.document li label {
	float: left;
	padding: 0 6px 0 3px;
}

div#content div.sHeadSection ul.document li input.sizeB {
	float: none;
	height: 13px;
	width: 604px;
}

div#content div.sHeadSection ul.document li span {
	color: #666;
	font-size: 80%;
}

div#content div.sHeadSection ul.document li span {
	display: block;
	float: right;
}

div#content div.sHeadSection p.sHeadText {
	padding: 0 0 13px 0;
}

div#content div.sHeadSection p.sHeadText span {
	padding: 0 0 0 6px;
}

div#content div.sHeadSection p textarea.sizeB {
	height: 113px;
	width: 670px;
}

div#content div.sHeadSection p.inquiryText {
	background: url(../images/ico_star.gif) no-repeat 0 2px;
	padding: 0 0 10px 15px;
}

div#content div.sHeadSection table.inquiryTable {
	width: 100%;
}

div#content div.sHeadSection table.inquiryTable th {
	background: url(../../common/images/bg_dash.gif) repeat-x left top;
	padding: 12px 0 7px 0;
	vertical-align: top;
	width: 134px;
}

div#content div.sHeadSection table.inquiryTable td {
	background: url(../../common/images/bg_dash.gif) repeat-x left top;
	padding: 11px 0 7px 0;
	vertical-align: top;
}

div#content div.sHeadSection table.inquiryTable th span {
	background: url(../images/ico_star.gif) no-repeat 0 1px;
	padding: 0 0 0 13px;
}

div#content div.sHeadSection table.inquiryTable ul li {
	float: left;
	padding: 0 18px 0 0;
	width: auto;
}

div#content div.sHeadSection table.inquiryTable ul li span {
	float: left;
	display: block;
}

div#content div.sHeadSection table.inquiryTable ul li label {
	padding: 2px 4px 0 0;
	float: left;
}

div#content div.sHeadSection table.inquiryTable ul li input {
	height: 14px;
	width: 98px;
}

div#content div.sHeadSection table.inquiryTable ul li span {
	color: #666;
	font-size: 80%;
}

div#content div.sHeadSection table.inquiryTable td em {
	color: #ca0000;
	padding: 0 0 0 5px;
	font-size: 80%;
}

div#content div.sHeadSection table.inquiryTable td input.sizeS {
	height: 14px;
	width: 58px;
}

div#content div.sHeadSection table.inquiryTable td input.sizeSs {
	height: 14px;
	width: 49px;
}

div#content div.sHeadSection table.inquiryTable td ul.address li {
	clear: both;
	background: url(../images/ico_star.gif) no-repeat 0 6px;
	float: none;
	padding: 2px 3px 6px 13px;
}

div#content div.sHeadSection table.inquiryTable td ul.address li span {
	display: block;
	float: left;
}

div#content div.sHeadSection table.inquiryTable td ul.address li em {
	font-size: 80%;
}

div#content div.sHeadSection table.inquiryTable td ul.address li select {
	color: #333333;
	font-size: 90%;
	width: 115px;
}

div#content div.sHeadSection table.inquiryTable td ul.address li span {
	float: left;
}

div#content div.sHeadSection table.inquiryTable td ul.address li.addressLast {
	background: none;
	padding: 0;
	padding: 0;
}

div#content div.sHeadSection table.inquiryTable td ul.address li input.sizeM {
	height: 14px;
	width: 416px;
}

div#content div.sHeadSection table.inquiryTable td ul.address li input.sizeMs {
	float: none;
	height: 14px;
	width: 417px;
}

div#content div.sHeadSection table.inquiryTable td input.sizeB {
	height: 14px;
	vertical-align: middle;
	width: 480px;
}

div#content div.sHeadSection table.inquiryTable td input {
	vertical-align: middle;
	height: 14px;
}

div#content div.sHeadSection dl.plan {
	padding: 9px 0 0 0;
}

div#content div.sHeadSection dl.plan dt {
	background: url(../../common/images/bg_dash.gif) repeat-x left top;
	clear: both;
	padding: 8px 0 0 0;
	font-weight: bold;
}

div#content div.sHeadSection dl.plan dd {
	padding: 3px 0 6px 0;
}

div#content div.sHeadSection dl.plan dd ul li {
	float: left;
	padding: 0 16px 0 0;
	width: auto;
}

div#content div.sHeadSection dl.plan dd ul li label {
	float: left;
	margin-right: 3px;
}

div#content div.sHeadSection dl.plan dd ul li input {
	float: left;
	margin-left: 0;
	margin-right: 4px;
}

div#content div.sHeadSection dl.plan dd ul li em {
	display: block;
	padding: 2px 0 0 0;
	float: left;
}

div#content div.sHeadSection dl.plan dd ul li input.sizeB {
	height: 14px;
	width: 304px;
}

div#content div.sHeadSection dl.plan dd input.sizeS {
	height:14px;
	vertical-align: middle;
	width:49px;
}

div#content div.sHeadSection dl.plan dd input.sizeM {
	height:14px;
	vertical-align: middle;
	width:88px;
}

div#content div.sHeadSection dl.plan dd ul.groundList li {
	clear: both;
	float: none;
	padding-bottom: 7px;
}

div#content div.sHeadSection dl.plan dd ul.groundList li.groundListLast {
	padding: 0;
}

div#content div.sHeadSection dl.plan dd ul.groundList li ul li {
	clear: none;
	float: left;
	padding-bottom: 0;
}

div#content div.sHeadSection dl.plan dd p.text {
	clear: both;
	padding: 8px 0 0 0;
}

div#content div.sHeadSection dl.plan dd p.text input {
	margin: 0 3px 0 3px;
}

ul.listContent {
	clear: both;
	color: #696969;
	font-size: 80%;
	padding: 0 0 26px 0;
}

ul.listContent li {
	text-indent: -10px;
	padding: 0 0 0 10px;
	width: auto;
}

div#content div.sHeadSection div.confirm {
	padding: 50px 0 26px 243px;
}

div#content div.sHeadSection div.confirm p {
	float: left;
}

div#content div.sHeadSection div.confirm p.reset {
	float: right;
	padding: 6px 0 0 0;
}

div#content div.telephone {
	background: url(../images/bg_contact.gif);
	margin: 16px 0 23px;
	padding: 3px;
}

div#content div.telephone p {
	background: #fff;
	padding: 17px 28px 17px 22px;
}

div#content div.telephone p span {
	display: block;
	float: left;
	width: 418px;
}

div#content div.telephone p img {
	float: right;
	vertical-align: middle;
}


/* # clearfix
---------------------------------------------------------------------------- */

div#content div.telephone p,
div#content div.sHeadSection ul.document li,
div#content div.sHeadSection table.inquiryTable td ul.address li,
div#content div.sHeadSection dl.plan dd ul,
div#content div.sHeadSection dl.plan dd ul li,
div#content div.sHeadSection div.confirm {
	zoom: 1;
}

div#content div.telephone p:after,
div#content div.sHeadSection ul.document li:after,
div#content div.sHeadSection table.inquiryTable td ul.address li:after,
div#content div.sHeadSection dl.plan dd ul:after,
div#content div.sHeadSection dl.plan dd ul li:after,
div#content div.sHeadSection div.confirm:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}


/* # common classes
---------------------------------------------------------------------------- */

