@charset "utf-8";

/* Table Of Contents
----------------------------------------

# Adjusts for print

----------------------------------------*/


/* Adjusts for print
---------------------------------------------------------------------------- */

* html body {
	zoom: 70%;
}

