@charset "utf-8";

/* Table Of Contents
----------------------------------------

# content

----------------------------------------*/



/* # content
---------------------------------------------------------------------------- */

div#content div.section div.sectionInner {
	padding: 0 0 69px 0;
}

div#content div.section div.sectionInner h3 {
	background: url(../../common/images/bg_shead.gif) repeat-x left bottom;
	margin-bottom: 20px;
	padding: 0 0 18px 0;
}

div#content div.section div.sectionInner h3 img {
	position: static;
}

div#content div.section div.sectionInner .health {
	background: url(../images/bg_health_bottom.gif) no-repeat left bottom;
	padding-bottom: 20px;
}

div#content div.section div.sectionInner .health h4 {
	background: url(../images/bg_health_top.gif) no-repeat left top;
	padding: 45px 0 0 47px;
}

div#content div.section div.sectionInner .health .healthBlock {
	background: url(../images/bg_health_content.gif) repeat-y left top;
	padding: 31px 47px 13px 47px;
}

div#content div.section div.sectionInner .health p {
	padding-bottom: 18px;
}

div#content div.section div.sectionInner .health p strong {
	color: #603c1e;
	font-weight: bold;
}

div#content div.section div.sectionInner .health div.healthLast {
	background: url(../../common/images/bg_dot07.gif) repeat-x left top;
	margin: 10px 0 0 0;
	padding: 15px 0 0 0;
	text-align: right;
	width: 582px;
}

div#content div.section div.sectionInner .health div.healthLast p {
	color: #603c1e;
	padding: 0 0 2px 1px;
}

div#content div.section div.sectionInner .health div.healthLast p span {
	padding-left: 14px;
}

div#content div.section div.sectionInner dl.outline dd {
	background: url(../../common/images/bg_dash.gif) repeat-x left bottom;
	margin: -2.5em 0 0.5em 0;
	padding: 1em 0 0.5em 14.3em;
}

div#content div.section div.sectionInner dl.outline dd a {
	color: #292929;
}

div#content div.section div.sectionInner dl.outline dd span {
	padding-left: 13px;
}

div#content div.section div.sectionInner dl.outline dd ul.contact li {
	padding-bottom: 18px;
}

div#content div.section div.sectionInner dl.outline dd ul.contact li.last {
	padding-bottom: 6px;
}

div#content div.section div.sectionInner dl.outline dd ul.contact li span {
	background: url(../../common/images/ico_circle.gif) no-repeat left 1px;
	padding-left: 15px;
}

div#content div.section div.sectionGroup {
	padding-bottom: 30px;
}

div#content div.section div.sectionGroup h3 {
	margin-bottom: 32px;
}

div#content div.section div.sectionGroup p {
	text-align: center;
}

div#content div.section div.sectionGroup ul {
	margin-right: -30px;
	width: 703px;
}

div#content div.section div.sectionGroup ul li {
	float: left;
	margin-right: 30px;
	width: auto;
}

