<div id="fNav">
<div id="fNavIn">
<div class="fSec" id="fIndividual">
<h2>個人のお客様</h2>

<ul>
<li><a href="/prestudents/">河合塾グループで学びたい方へ</a></li>
</ul>
<!-- / id fIndividual --></div>

<div class="fSec" id="fCorporation">
<h2>法人（学校・企業・団体）のお客様</h2>

<ul>
<li><a href="/teachers/">高等学校の先生方へ</a></li>
<li><a href="/university/">大学関係者の方へ</a></li>
<li><a href="/corporation/">企業・法人・団体の方へ</a></li>
<li><a href="/manager/">塾・予備校をご経営の方へ</a></li>
</ul>
<!-- / id fCorporation --></div>

<div class="fSec" id="fEtc">
<h2>一般・その他のお客様</h2>

<ul>
<li><a href="/interest/">入試情報や教育に関心のある方へ</a></li>
<li><a href="/press/">報道関係の方へ</a></li>
</ul>
<!-- / id fEtc --></div>
<!-- / id fNavIn --></div>
<!-- / id fNav --></div>
