<div id="footer">
<div id="footerIn">
<p id="fMessage"><img src="/common/images/f_message.gif" alt="私たちは「自らを求め、学びつづける人」を支援し、一人ひとりの未来に貢献します。" width="304" height="34" /></p>
<ul id="fLink" class="lineLink">
<li class="first"><a href="/privacy/">個人情報保護方針</a></li><li><a href="/environment/">ご利用環境</a></li><li><a href="/faq/">よくあるご質問</a></li><li><a href="/inquiry/">お問い合わせ</a></li>
</ul>
<p id="copyright">Copyright 2012 Kawaijuku Group.</p>
<!-- / id footerIn --></div>
<!-- / id footer --></div>
