<div id="gNav">
<ul>
<li id="gNavKawaijuku"><a href="/kawaijuku/"><img src="/common/images/gnav_kawaijuku.gif" alt="河合塾グループについて" width="193" height="55" /></a></li>
<li id="gNavSr"><a href="/sr/"><img src="/common/images/gnav_sr.gif" alt="社会へ向けた取り組み(SR)" width="192" height="55" /></a></li>
<li id="gNavResearch"><a href="/research/"><img src="/common/images/gnav_research.gif" alt="教育の研究・開発" width="192" height="55" /></a></li>
<li id="gNavService"><a href="/service/"><img src="/common/images/gnav_service.gif" alt="サービス案内" width="192" height="55" /></a></li>
<li id="gNavRecruit"><a href="/recruit/"><img src="/common/images/gnav_recruit.gif" alt="採用情報" width="193" height="55" /></a></li>
</ul>
<!-- / id gNav --></div>
