<div id="gFooter" class="gStyle">
<div class="gStyleIn">
<p class="groupLogo"><a href="/"><img src="/common/images/global/logo_kawaijuku02.gif" alt="河合塾グループ" width="208" height="26" /></a></p>

<div id="gFooterGroups">
<p><img src="/common/images/global/txt_group.gif" alt="河合塾グループサイトのご案内" width="169" height="19" /></p>
<ul id="groupNav">
<li class="first"><a href="/kawaijuku/">河合塾グループについて</a></li><li><a href="/sr/">社会へ向けた取り組み(SR)</a></li><li><a href="/research/">教育の研究・開発</a></li><li><a href="/service/">サービス案内</a></li><li><a href="/recruit/">採用情報</a></li>
</ul>
<!-- / id gFooterGroups --></div>
<!-- / id gStyleIn --></div>
<!-- / id gFooter --></div>
