<div id="header">
<div id="headerIn">
<p id="logo"><a href="/"><img src="/common/images/logo.gif" alt="河合塾グループ" width="208" height="26" /></a></p>

<div id="hContent">
<ul id="hNav" class="lineLink">
<li class="first"><a href="/sitemap/">サイトマップ</a></li><li><a href="/en/">English</a></li>
</ul>

<div id="hFontSize">
<p><img src="/common/images/txt_fontsize.gif" alt="文字サイズ" width="58" height="11" /></p>
<ul>
<li id="fontSizeL"><a href="#large"><img src="/common/images/btn_font_l.gif" alt="大" width="19" height="19" /></a></li><li id="fontSizeM"><a href="#middle"><img src="/common/images/btn_font_m.gif" alt="中" width="19" height="19" /></a></li><li id="fontSizeS"><a href="#small"><img src="/common/images/btn_font_s.gif" alt="小" width="19" height="19" /></a></li>
</ul>
<!-- / id hFontSize --></div>

<div id="hSearch">
<form method="get" action="/ask/">
<p><input type="text" value="" class="text" /> <input type="image" src="/common/images/btn_search.gif" alt="検索" /></p>
</form>
<!-- / id hSearch --></div>
<!-- / id hContent --></div>
<!-- / id headerIn --></div>
<!-- / id header --></div>
