<div id="sdRelate" class="sdSec">
<div class="shGroup202">
<h2 class="head"><a href="/kawaijuku/">関連情報</a></h2>
<!-- / class shGroup202 --></div>

<div class="itCol1 sdList">
<p class="imgCol"><a href="#"><img src="../common/images/dummy.jpg" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p><a href="#" class="arrow1">関連したコンテンツ</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>

<div class="itCol1 sdList">
<p class="imgCol"><a href="#"><img src="../common/images/dummy.jpg" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p><a href="#" class="arrow1">関連したコンテンツ</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>
<!-- / id sdRelate --></div>
