<div class="lNav auto first">
<div class="shGroup201">
<h2 class="head"><a href="/kawaijuku/">河合塾グループについて</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li><a href="/kawaijuku/greeting/">ごあいさつ</a></li>
<li><a href="/kawaijuku/mission/">塾訓・使命</a></li>
<li><a href="/kawaijuku/education/">事業紹介</a>
<ul class="nav2">
<li><a href="/kawaijuku/education/children.html">幼児</a></li>
<li><a href="/kawaijuku/education/primary.html">小学生対象</a></li>
<li><a href="/kawaijuku/education/junior.html">中学生対象</a></li>
<li><a href="/kawaijuku/education/highschool.html">高校生対象</a></li>
<li><a href="/kawaijuku/education/graduate.html">高卒生対象</a></li>
<li><a href="/kawaijuku/education/college.html">大学生・社会人対象</a></li>
<li><a href="/kawaijuku/education/foreigners.html">外国人対象</a></li>
<li><a href="/kawaijuku/education/bs-highschool.html">高校対象</a></li>
<li><a href="/kawaijuku/education/bs-college.html">大学・企業対象</a></li>
<li><a href="/kawaijuku/education/download/">事業案内ダウンロード</a></li>
</ul></li>
<li><a href="/kawaijuku/history/">沿革</a></li>
<li id="lNavGroup"><a href="/kawaijuku/group/">グループ内法人一覧</a></li>
</ul>
<!-- / class lNav --></div>
