<div class="lNav auto first">
<div class="shGroup201">
<h2 class="head"><a href="/sr/">社会へ向けた取り組み(SR)</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li><a href="/sr/basic/">取り組みの基本姿勢</a></li>
<li><a href="/sr/personnel-training/">次代を担う人材の育成</a></li>
<li><a href="/sr/earth/">地球環境の保全</a></li>
<li><a href="/sr/contribution/">地域・社会への貢献</a>
<ul class="nav2">
<li><a href="/sr/contribution/cambodia/">カンボジア教育支援運動</a>
<ul class="nav3">
<li><a href="/sr/contribution/cambodia/c-meaning.html">支援活動の趣旨</a></li>
<li><a href="/sr/contribution/cambodia/c-request.html">支援活動内容とご協力のお願い</a></li>
<li><a href="/sr/contribution/cambodia/c-introduction.html">支援先の紹介</a></li>
<li><a href="/sr/contribution/cambodia/activity/">活動報告</a></li>
</ul></li>
<li><a href="/sr/contribution/stamp/">使用済み切手・テレカ等を集めて送る教育支援</a></li>
<li><a href="/sr/contribution/petbottle/">ペットボトルのキャップ収集によるワクチン支援運動</a></li>
<li><a href="/sr/contribution/shinsai2011/">東日本大震災　被災地での学習支援</a></li>
</ul></li>
<li><a href="/sr/responsibility/">基本となる社会的責任の遂行</a></li>
</ul>
<!-- / class lNav --></div>
