<div class="lNav first">
<div class="shGroup201">
<h2 class="head"><a href="/service/">サービス案内</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li><a href="#">カテゴリから探す</a></li>
<li><a href="#">対象から探す</a></li>
</ul>
<!-- / class lNav --></div>

<div class="sdGroup">
<div class="itCol1 sdList">
<p class="imgCol"><a href="/service/event/"><img src="/common/images/ico_sd_event.gif" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p id="lNavEvent"><a href="/service/event/" class="arrow1">イベント</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>

<div class="itCol1 sdList">
<p class="imgCol"><a href="/service/search/"><img src="/common/images/ico_sd_search.gif" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p id="lNavSearch"><a href="/service/search/" class="arrow1">校舎・教室検索</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>

<div class="itCol1 sdList">
<p class="imgCol"><a href="/service/request/"><img src="/common/images/ico_sd_request.gif" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p id="lNavRequest"><a href="/service/request/" class="arrow1">資料請求</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>
<!-- / class sdGroup --></div>
