<div class="lNav first">
<div class="shGroup201">
<h2 class="head"><a href="/faq/">よくあるご質問</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li><a href="/faq/">関連したよくあるご質問</a></li>
<li><a href="/faq/">関連したよくあるご質問</a></li>
<li><a href="/faq/">関連したよくあるご質問</a></li>
</ul>
<!-- / class lNav --></div>

<div class="sdSec">
<div class="shGroup201">
<h2 class="head"><a href="/kawaijuku/mission/">塾訓・使命</a></h2>
<!-- / class shGroup201 --></div>

<div class="sdList">
<p class="banner"><a href="/kawaijuku/mission/"><img src="/common/images/bnr_mission01.jpg" alt="塾訓・使命" width="171" height="66" class="bdr1" /></a></p>
<!-- / class sdList --></div>
<!-- / class sdSec --></div>

<div class="sdSec">
<div class="shGroup201">
<h2 class="head"><a href="/kawaijuku/education/">事業紹介</a></h2>
<!-- / class shGroup201 --></div>

<div class="sdList">
<p class="banner"><a href="/kawaijuku/education/"><img src="/common/images/bnr_education01.jpg" alt="事業紹介" width="171" height="66" class="bdr1" /></a></p>
<!-- / class sdList --></div>
<!-- / class sdSec --></div>

<div class="sdSec">
<div class="shGroup201">
<h2 class="head"><a href="http://www.kawai-juku.ac.jp/broadband/" target="_blank">KAWAIJUKU TV</a></h2>
<!-- / class shGroup201 --></div>

<div class="sdList">
<p class="banner"><a href="http://www.kawai-juku.ac.jp/broadband/" target="_blank"><img src="/common/images/bnr_broadband01.jpg" alt="KAWAIJUKU TV" width="171" height="64" class="bdr1" /></a></p>
<!-- / class sdList --></div>
<!-- / class sdSec --></div>
