<div class="lNav first">
<div class="shGroup201">
<h2 class="head"><a href="/inquiry/">お問い合わせ</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li id="lNavPersonal"><a href="/inquiry/personal/">お問い合わせフォーム<br />
（個人のお客様）</a></li>
<li id="lNavBusiness"><a href="/inquiry/business/">お問い合わせフォーム<br />
（法人のお客様）</a></li>
</ul>
<!-- / class lNav --></div>

<div class="lNav">
<div class="shGroup201">
<h2 class="head"><a href="#">関連情報</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li><a href="/faq/">よくあるご質問</a></li>
<li><a href="/kawaijuku/group/">グループ内法人一覧</a></li>
<li><a href="/kawaijuku/search/">校舎・教室検索</a></li>
</ul>
<!-- / class lNav --></div>
