<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>パーツ集 | 河合塾グループ</title>
<meta name="description" content="『パーツ集』のページです。固定テキスト" />
<meta name="keywords" content="パーツ集,固定キーワード" />
<link href="../common/css/import.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="../common/css/font_small.css" rel="alternate stylesheet" title="small" type="text/css" />
<link href="../common/css/font_middle.css" rel="alternate stylesheet" title="middle" type="text/css" />
<link href="../common/css/font_large.css" rel="alternate stylesheet" title="large" type="text/css" />
<link href="../common/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link rel="contents" href="/" title="ホーム" />
<link rel="index" href="/sitemap/" title="サイトマップ" />
<script type="text/javascript" src="../common/js/jquery-custom.min.js"></script>
<script type="text/javascript" src="../common/js/common.js"></script>
<script type="text/javascript" src="../common/js/script_faq.js"></script>
</head>

<body>
<div id="layout">
<!--#include virtual="/common/inc/group_header.html" -->
<!--#include virtual="/common/inc/header.html" -->
<!--#include virtual="/common/inc/gnav.html" -->
<hr />
<div id="topicPath">
<ul>
<li><a href="/">ホーム</a></li>
<li><a href="#">第2階層目</a></li>
<li><a href="#">第3階層目</a></li>
<li><a href="#">第4階層目</a></li>
<li class="current"><strong>第5階層目</strong></li>
</ul>
<!-- / id topicPath --></div>
<div id="pageBody">
<div id="pageBodyIn">
<div id="content">
<div class="hGroup101">
<p class="cat"><img src="images/ico_dummy01.gif" alt="カテゴリ" width="60" height="13" /></p>
<h1 class="head">見出し1</h1>
<!-- / class hGroup101 --></div>

<div class="hGroup101">
<h1 class="head">見出し1</h1>
<p class="print"><a href="javascript:document.print();"><img src="/common/images/btn_print01.gif" alt="このページを印刷する" width="214" height="30" class="imgover" /></a></p>
<!-- / class hGroup101 --></div>

<div class="tbNav">
<table>
<tbody>
<tr>
<td class="current"><a href="#" class="arrow1">第6階層目</a></td>
<td><a href="#" class="arrow1">第6階層目</a></td>
<td><a href="#" class="pdf" target="_blank">第6階層目</a></td>
<td><a href="#" class="arrow1">第6階層目</a></td>
<td><a href="#" class="arrow1">第6階層目</a></td>
<td><a href="#" class="arrow1">第6階層目</a></td>
</tr>
<tr>
<td><a href="#" class="arrow1">第6階層目</a></td>
<td><a href="#" class="arrow1">第6階層目</a></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<!-- / class tbNav --></div>

<div id="contentIn">
<ul class="inPageList1">
<li><a href="#">アンカーリンク</a></li>
<li><a href="#">アンカーリンク</a></li>
<li><a href="#">アンカーリンク</a></li>
<li><a href="#">アンカーリンク</a></li>
</ul>


<div class="tabs1">
<ul>
<li class="selected"><a href="#"><span>タブメニュー1</span></a></li><li><a href="#"><span>タブメニュー2</span></a></li><li><a href="#"><span>タブメニュー3</span></a></li><li><a href="#"><span>タブメニュー4</span></a></li>
</ul>
<!-- / class tabs1 --></div>


<div class="visual wFull">
<p><img src="images/img_dummy05.jpg" alt="" width="757" height="153" /></p>
<p class="visLink"><a href="#"><img src="images/btn_dummy01.gif" alt="ボタン（強調）" width="161" height="40" class="imgover" /></a></p>
<!-- / class visual --></div>

<div class="visual wFull">
<p><img src="images/img_dummy05.jpg" alt="" width="757" height="153" /></p>
<p class="visLink"><a href="#"><img src="images/btn_dummy02.gif" alt="ボタン（通常）" width="161" height="40" class="imgover" /></a></p>
<!-- / class visual --></div>

<div class="sec2">
<div class="hGroup201">
<h2 class="head">見出し2</h2>
<!-- / class hGroup201 --></div>

<!-- / class sec2 --></div>

<div class="sec2">
<div class="hGroup201">
<h2 class="head"><a href="#">見出し2</a></h2>
<p class="sub"><a href="#" class="arrow1">リンク</a></p>
<!-- / class hGroup201 --></div>

<div class="hGroup202">
<h2 class="head"><a href="#">見出し2：吹き出し</a></h2>
<!-- / class hGroup202 --></div>

<div class="b2Col wFull">
<div class="b2ColL">
<div class="hGroup201">
<h2 class="head"><a href="#">見出し2</a></h2>
<!-- / class hGroup201 --></div>
<!-- / class b2ColL --></div>

<div class="b2ColR">
<div class="hGroup201">
<h2 class="head">見出し2</h2>
<!-- / class hGroup201 --></div>
<!-- / class b2ColR --></div>
<!-- / class b2Col --></div>

<div class="hGroup203">
<h2 class="head">見出し２：リンクなし（見出し２が狭い間隔で連続して続く場合に使用）</h2>
<!-- / class hGroup203 --></div>

<div class="hGroup203">
<h2 class="head"><a href="#">見出し２：リンクあり（見出し２が狭い間隔で連続して続く場合に使用）</a></h2>
<!-- / class hGroup203 --></div>

<div class="hGroup301">
<h2 class="head"><a href="#">見出し３：リンクなし</a></h2>
<!-- / class hGroup301 --></div>

<div class="hGroup301">
<h2 class="head">見出し３：リンクなし</h2>
<p class="sub">テキストテキストテキストテキスト</p>
<!-- / class hGroup301 --></div>

<div class="b2Col">
<div class="b2ColL">
<div class="hGroup302">
<h2 class="head">見出し３：リンクなし</h2>
<!-- / class hGroup302 --></div>
<!-- / class b2ColL --></div>

<div class="b2ColR">
<div class="hGroup302">
<h2 class="head"><a href="#">見出し３：リンクなし</a></h2>
<!-- / class hGroup302 --></div>
<!-- / class b2ColR --></div>
<!-- / class b2Col --></div>

<div class="hGroup401">
<h2 class="head">見出し３：リンクなし</h2>
<!-- / class hGroup401 --></div>

<div class="hGroup401">
<h2 class="head"><a href="#">見出し３：リンクなし</a></h2>
<!-- / class hGroup401 --></div>

<p><img src="images/img_dummy01.jpg" alt="" width="717" height="153" /><br />
<span class="caption">キャプションテキストキャプションテキストキャプションテキストキャプションテキスト</span></p>

<div class="b2Col">
<div class="b2ColL">
<p><img src="images/img_dummy02.jpg" alt="" width="349" height="153" /><br />
<span class="caption">キャプションテキストキャプションテキストキャプションテキストキャプションテキスト</span></p>
<!-- / class b2ColL --></div>

<div class="b2ColR">
<p><img src="images/img_dummy02.jpg" alt="" width="349" height="153" /><br />
<span class="caption">キャプションテキストキャプションテキストキャプションテキストキャプションテキスト</span></p>
<!-- / class b2ColR --></div>
<!-- / class b2Col --></div>



<div class="b2Col">
<div class="b2ColL" style="width: 515px;">
<p class="strong">強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト強調テキスト</p>

<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>

<p class="caution1">※注意文言テキスト注意文言テキスト注意文言テキスト注意文言テキスト</p>

<p class="caution2">※注意文言テキスト注意文言テキスト注意文言テキスト注意文言テキスト</p>

<p><a href="#" class="arrow1">テキストリンク（通常）</a></p>

<p><a href="#" class="arrow2">テキストリンク（小）</a></p>

<p><a href="#" class="ext">テキストリンク：別サイトへ</a></p>

<p><a href="#" class="pdf">テキストリンク：PDFファイル</a> （PDFファイル）</p>

<p><a href="#" class="back">前のページへ戻る</a></p>

<p><a href="#" class="add">追加する</a></p>

<p><a href="#" class="rss">RSS</a></p>

<p><a href="#" class="inPage">単独ページ内リンク</a></p>
<!-- / class b2ColL --></div>

<div class="b2ColR" style="width: 181px;">
<p><img src="images/img_dummy06.jpg" alt="" width="181" height="171" /><br />
<span class="caption">キャプションテキストキャプションテキストキャプションテキストキャプションテキスト</span></p>
<!-- / class b2ColR --></div>
<!-- / class b2Col --></div>

<ul class="circleList1">
<li>リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
<li>リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
<li>リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
<li>リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
</ul>

<ol class="numList1">
<li><span class="num">1</span> リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
<li><span class="num">2</span> リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
<li><span class="num">3</span> リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
<li><span class="num">4</span> リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。リストテキスト。</li>
</ol>

<ol class="numList2">
<li><span class="num">1.</span>
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
</li>
<li><span class="num">2.</span>
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
</li>
<li><span class="num">3.</span>
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
</li>
<li><span class="num">4.</span>
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br />
テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
</li>
</ol>

<p class="band1">テキストテキストテキスト</p>
<!-- / class sec2 --></div>

<div class="sec2">
<div class="hGroup202">
<h2 class="head">ニュースリリース系</h2>
<!-- / class hGroup202 --></div>

<dl class="dList1">
<dt>YYYY年MM月DD日 <span class="icon2">タグ1</span> <span class="icon5">タグ4</span> <span class="icon8">タグ7</span></dt>
<dd><p><a href="#" class="arrow1">テキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンク</a></p></dd>
<dt>YYYY年MM月DD日 <span class="icon3">タグ2</span> <span class="icon6">タグ5</span> <span class="icon9">タグ8</span></dt>
<dd><p class="image"><img src="images/img_dummy03.jpg" alt="" width="96" height="91" /></p>
<p><a href="#" class="arrow1">テキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンク</a></p></dd>
<dt>YYYY年MM月DD日 <span class="icon4">タグ3</span> <span class="icon7">タグ6</span></dt>
<dd><p><a href="#" class="arrow1">テキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンク</a></p>
<div class="description">
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<!-- / class description --></div>
</dd>
<dt>YYYY年MM月DD日 <span class="icon1">汎用</span> <span class="icon1 iconFixed">汎用固定幅</span></dt>
<dd><p><a href="#" class="arrow1">テキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンクテキストリンク</a></p>
<div class="description">
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<!-- / class description --></div>
</dd>
</dl>

<div class="b2Col">
<div class="b2ColL">
<div class="itCol2">
<p class="imgCol"><img src="images/img_dummy03.jpg" alt="" width="96" height="91" /></p>
<div class="txtCol">
<p><a href="#" class="arrow1">テキストリンクテキストリンクテキストリンク</a></p>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<!-- / class txtCol --></div>
<!-- / class itCol2 --></div>
<!-- / class b2ColL --></div>

<div class="b2ColR">
<div class="itCol2">
<p class="imgCol"><img src="images/img_dummy03.jpg" alt="" width="96" height="91" /></p>
<div class="txtCol">
<p><a href="#" class="arrow1">テキストリンクテキストリンクテキストリンク</a></p>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<!-- / class txtCol --></div>
<!-- / class itCol2 --></div>
<!-- / class b2ColR --></div>
<!-- / class b2Col --></div>

<div class="table1">
<table>
<tbody>
<tr>
<th>項目名１</th>
<td>内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。</td>
</tr>
<tr>
<th>項目名２</th>
<td>内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。</td>
</tr>
<tr>
<th>項目名３</th>
<td>内容テキスト。内容テキスト。内容テキスト。内容テキスト。内容テキスト。</td>
</tr>
</tbody>
</table>
<!-- / class table1 --></div>

<div class="table2">
<table>
<thead>
<tr>
<th>&nbsp;</th>
<th>項目名列１</th>
<th>項目名列２</th>
<th>項目名列３</th>
</tr>
</thead>
<tbody>
<tr>
<th>項目名行１</th>
<td class="first">内容テキスト。内容テキスト。</td>
<td>内容テキスト。内容テキスト。</td>
<td>内容テキスト。内容テキスト。</td>
</tr>
<tr>
<th>項目名行２</th>
<td class="first">内容テキスト。内容テキスト。</td>
<td>内容テキスト。内容テキスト。</td>
<td>内容テキスト。内容テキスト。</td>
</tr>
<tr>
<th>項目名行３</th>
<td class="first">内容テキスト。内容テキスト。</td>
<td>内容テキスト。内容テキスト。</td>
<td class="cell1">内容テキスト。内容テキスト。</td>
</tr>
</tbody>
</table>
<!-- / class table2 --></div>

<div class="faqSec close">
<div class="faqHead">
<h3 class="head"><img src="/common/images/ico_q.gif" alt="Q." width="20" height="21" class="faqIcon" /> <a href="#">＠＠＠＠＠＠＠＠＠は＠＠＠＠＠ですか？</a></h3>
<!-- / class faqHead --></div>

<div class="faqBody">
<dd><img src="/common/images/ico_a.gif" alt="A." width="20" height="21" class="faqIcon" />
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>

<p><a href="#" class="ext">テキストリンク：別サイトへ</a></p>

<div class="faqRelation">
<h4 class="head">関連したご質問</h4>
<ul>
<li><a href="#">Q：＠＠＠＠＠＠＠＠＠＠＠＠は＠＠＠＠＠＠ですか？</a></li>
</ul>
<!-- / class faqRelation --></div>
<!-- / class faqBody --></div>
<!-- / class faqSec --></div>

<div class="faqSec">
<div class="faqHead">
<h3 class="head"><img src="/common/images/ico_q.gif" alt="Q." width="20" height="21" class="faqIcon" /> <a href="#">＠＠＠＠＠＠＠＠＠は＠＠＠＠＠ですか？</a></h3>
<!-- / class faqHead --></div>

<div class="faqBody">
<dd><img src="/common/images/ico_a.gif" alt="A." width="20" height="21" class="faqIcon" />
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>

<p><a href="#" class="ext">テキストリンク：別サイトへ</a></p>

<div class="faqRelation">
<h4 class="head">関連したご質問</h4>
<ul>
<li><a href="#">Q：＠＠＠＠＠＠＠＠＠＠＠＠は＠＠＠＠＠＠ですか？</a></li>
</ul>
<!-- / class faqRelation --></div>
<!-- / class faqBody --></div>
<!-- / class faqSec --></div>
<!-- / class sec2 --></div>

<div class="sec2">
<div class="hGroup202">
<h2 class="head">フォーム系</h2>
<!-- / class hGroup202 --></div>

<div class="form1">
<table>
<tbody>
<tr class="first">
<th><img src="/common/images/sh_frm_date.gif" alt="日程" width="95" height="27" /></th>
<td colspan="3"><select>
<option value=""></option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select> 
<select>
<option value=""></option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
<a href="#"><img src="/common/images/ico_calendar.gif" alt="日程選択" width="16" height="16" /></a>
　～　
<select>
<option value=""></option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
</select> 
<select>
<option value=""></option>
<option value="01">01</option>
<option value="02">02</option>
<option value="03">03</option>
<option value="04">04</option>
<option value="05">05</option>
<option value="06">06</option>
<option value="07">07</option>
<option value="08">08</option>
<option value="09">09</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>
<a href="#"><img src="/common/images/ico_calendar.gif" alt="日程選択" width="16" height="16" /></a>
</td>
</tr>
<tr>
<th><img src="/common/images/sh_frm_area.gif" alt="地域" width="95" height="27" /></th>
<td class="half"><select>
<option value=""></option>
<option value="テキストテキストテキスト">テキストテキストテキスト</option>
</select></td>
<th><img src="/common/images/sh_frm_school.gif" alt="校舎" width="95" height="27" /></th>
<td class="half"><select>
<option value=""></option>
<option value="テキストテキストテキスト">テキストテキストテキスト</option>
</select></td>
</tr>
<tr>
<th><img src="/common/images/sh_frm_target01.gif" alt="対象者" width="95" height="27" /></th>
<td class="half"><select>
<option value=""></option>
<option value="テキストテキストテキスト">テキストテキストテキスト</option>
</select></td>
<th><img src="/common/images/sh_frm_category.gif" alt="カテゴリ" width="95" height="27" /></th>
<td class="half"><select>
<option value=""></option>
<option value="テキストテキストテキスト">テキストテキストテキスト</option>
</select></td>
</tr>
<tr>
<th><img src="/common/images/sh_frm_freeword.gif" alt="フリーワード" width="95" height="27" /></th>
<td colspan="3"><input type="text" size="50" value="" />　<input type="image" src="/common/images/btn_search01.gif" alt="検索" class="imgover" /></td>
</tr>
</tbody>
</table>
<!-- / class form1 --></div>

<div class="form2">
<p class="textT">校舎名やサービス名などのフリーワードを入力し、[検索]ボタンをクリックしてください。</p>
<p class="textT"><input type="text" size="100" value="" class="frm520" /> <input type="image" src="/common/images/btn_search01.gif" alt="検索" class="imgover" /></p>
<p class="example">例）池袋校、トライデント</p>
<!-- / class form2 --></div>

<div class="form1">
<table>
<tbody>
<tr class="first">
<th><img src="/common/images/sh_frm_rearea.gif" alt="地域で絞り込み" width="115" height="27" /></th>
<td colspan="3"><ul class="selectLink">
<li><a href="#">すべて</a></li>
<li class="selected"><a href="#">北海道</a></li>
<li><a href="#">東北</a></li>
<li><a href="#">関東・甲信越</a></li>
<li><a href="#">東海・北陸</a></li>
<li class="selected"><a href="#">近畿</a></li>
<li><a href="#">中・四国</a></li>
<li><a href="#">九州・沖縄</a></li>
</ul></td>
</tr>
</tbody>
</table>
<!-- / class form1 --></div>

<div class="form1">
<table>
<tbody>
<tr class="first">
<th><img src="/common/images/sh_frm_recategory.gif" alt="カテゴリで絞り込み" width="135" height="27" /></th>
<td colspan="3"><select>
<option value=""></option>
<option value="テキストテキストテキスト">テキストテキストテキスト</option>
</select>　<input type="image" src="/common/images/btn_refine01.gif" alt="絞り込む" class="imgover" /></td>
</tr>
</tbody>
</table>
<!-- / class form1 --></div>

<div class="bButton1">
<p><input type="image" src="/common/images/btn_apply01.gif" alt="申し込む" class="imgover" /></p>
<!-- / class bButton1 --></div>

<div class="bButton2">
<p><img src="/common/images/btn_application01.gif" alt="インターネット申し込みはこちら" width="321" height="40" class="imgover" /></p>
<!-- / class bButton2 --></div>

<div class="srchNav">
<p class="srchStatus"><span class="count">106</span>件中　1 - 20件を表示</p>
<div class="srchDisplay">
<p class="srchOrder">並び替え：<select>
<option value="">重要頻度</option>
</select></p>
<p class="srchCount">表示単位：<select>
<option value="">20件</option>
</select></p>
<!-- / class srchDisplay --></div>
<!-- / class srchNav --></div>

<ul class="pager">
<li class="pagePrev"><a href="#">前の20件へ</a></li>
<li><span>1</span></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li class="pageNext"><a href="#">次の20件へ</a></li>
</ul>


<div class="bColumn1">
<div class="bColumnIn">
<h3 class="head">コラム枠タイトル</h3>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<!-- / class bColumnIn --></div>
<!-- / class bColumn1 --></div>

<div class="bColumn2 getAdobe">
<div class="bColumnIn itCol1">
<p class="imgCol"><a href="http://www.adobe.com/go/getreader_jp"><img src="/common/images/bnr_adobereader.png" alt="Adobe Readerのダウンロード" width="158" height="39" /></a></p>
<p class="txtCol">PDFファイルをご覧いただくためにはアドビシステムズ社が無料配布しているAdobe&reg; Reader&trade;（アドビ リーダー）が必要です。
お持ちでないかたはダウンロードしてからご利用ください。</p>
<!-- / class bColumnIn --></div>
<!-- / class bColumn2 --></div>

<div class="bColumn3">
<div class="bColumnIn">
<h3 class="head">コラム枠タイトル</h3>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<!-- / class bColumnIn --></div>
<!-- / class bColumn3 --></div>

<div class="bColumn4">
<div class="bColumnIn">
<h3 class="head">コラム枠タイトル</h3>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<p>本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。本文テキスト。</p>
<!-- / class bColumnIn --></div>
<!-- / class bColumn4 --></div>
<!-- / class sec2 --></div>

<p class="pageTop"><a href="#layout">このページの先頭へ</a></p>
<!-- / id contentIn --></div>
<!-- / id content --></div>
<hr />
<div id="sidebar">
<div class="lNav first">
<div class="shGroup201">
<h2 class="head"><a href="#">第2階層目</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li><a href="#">第3階層目</a></li>
<li class="current"><a href="#">第3階層目</a></li>
<li class="open"><a href="#">第3階層目</a>
<ul class="nav2">
<li class="open"><a href="#">第4階層目</a>
<ul class="nav3">
<li><a href="#">第5階層目</a></li>
<li class="current"><a href="#">第5階層目</a></li>
<li><a href="#">第5階層目</a></li>
<li><a href="#">第5階層目</a></li>
<li><a href="#">第5階層目</a></li>
</ul></li>
<li><a href="#">第4階層目</a></li>
<li class="current"><a href="#">第4階層目</a></li>
<li><a href="#">第4階層目</a></li>
<li><a href="#">第4階層目</a></li>
</ul></li>
<li><a href="#">第3階層目</a></li>
<li><a href="#">第3階層目</a></li>
</ul>
<!-- / class lNav --></div>

<!--#include virtual="/common/inc/parts_sdrelate.html" -->

<div class="sdSec">
<div class="shGroup201">
<h2 class="head"><a href="#">よくあるご質問</a></h2>
<!-- / class shGroup201 --></div>

<ul class="nav1">
<li><a href="#">コンテンツ1</a></li>
<li><a href="#">コンテンツ2</a></li>
<li><a href="#">コンテンツ3</a></li>
</ul>
<!-- / class sdSec --></div>

<div class="sdGroup">
<div class="itCol1 sdList">
<p class="imgCol"><a href="/service/event/"><img src="../common/images/dummy.jpg" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p><a href="/service/event/" class="arrow1">イベント</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>

<div class="itCol1 sdList">
<p class="imgCol"><a href="/service/search/"><img src="../common/images/dummy.jpg" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p><a href="/service/search/" class="arrow1">校舎・教室検索</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>

<div class="itCol1 sdList">
<p class="imgCol"><a href="/service/request/"><img src="../common/images/dummy.jpg" alt="" width="40" height="40" /></a></p>
<div class="txtCol">
<p><a href="/service/request/" class="arrow1">資料請求</a></p>
<!-- / class txtCol --></div>
<!-- / class itCol1 --></div>
<!-- / class sdGroup --></div>

<div class="sdSec">
<div class="shGroup202">
<h2 class="head"><a href="#">タイトル</a></h2>
<!-- / class shGroup202 --></div>

<div class="sdList">
<p class="banner"><a href="#"><img src="images/img_dummy04.jpg" alt="" width="167" height="40" /></a></p>
<!-- / class sdList --></div>
<!-- / class sdSec --></div>

<!-- / id sidebar --></div>
<!-- / id pageBodyIn --></div>
<!-- / id pageBody --></div>
<hr />
<!--#include virtual="/common/inc/fnav.html" -->
<!--#include virtual="/common/inc/footer.html" -->
<!--#include virtual="/common/inc/group_footer.html" -->
<!-- / id layout --></div>
<script type="text/javascript" src="http://cm2.gio-cubic.net/f.php?c=11f54gntzt"></script>
</body>
</html>