@charset "utf-8";

/* Table Of Contents
----------------------------------------

# pageBody
# content
# sidebar
# clearfix

----------------------------------------*/

body {
	background: none;
}


/* # pageBody
---------------------------------------------------------------------------- */

div#pageBody {
	padding: 0 0 58px 0;
}

div#header {
	background: #000;
}


/* # content
---------------------------------------------------------------------------- */

div.gallerySection {
	clear: both;
	margin: 0 auto;
	padding: 34px 0 0 0;
	position: relative;
	width: 950px
}

div.gallerySection h2 span {
	position: absolute;
	right: 0;
	top: 43px;
}

div.gallerySection ul {
	padding: 13px 0 0 0;
	margin-right: -20px;
}

div.gallerySection ul {
	margin-right: -40px;
	width: 970px;
}

div.gallerySection ul li {
	float: left;
	margin-right: 20px;
	position: relative;
	width: 222px;
}

div.gallerySection ul li p a img {
	background: url(../common/images/bg_dot01.gif) repeat 0 0;
	padding: 3px;
	margin: 0 0 10px 0;
	width: 216px;
}

div.gallerySection ul li p a:hover img {
	background: url(../common/images/bg_dot04.gif) repeat 0 0;
}

div.gallerySection ul li dl dt {
	background: url(../common/images/ico_arrow01.gif) no-repeat left 1px;
	font-weight: bold;
	position: relative;
	padding-left: 17px;
	line-height: 1.25;
}

*:first-child + html div.gallerySection ul li dl dt {
	background: url(../common/images/ico_arrow01.gif) no-repeat left 2px;
}

div.gallerySection ul li dl dt a {
	color: #292929;
}

div.gallerySection ul li dl dt span {
	color: #8e8e8e;
	font-weight: normal;
	font-size: 90%;
}

div.gallerySection ul li dl dt span.new img {
	position: absolute;
	right: 0;
	top: 1px;
}

div.gallerySection ul li dl dd {
	padding: 0 0 0 2px;
}

div.gallerySection ul li.lastList {
	margin-right: 0;
}

div#content {
	color: #292929;
	padding: 54px 0 0 0;
	width: 606px;
}

* html div#content {
	padding: 48px 0 0 0;
	width: 606px;
}

*:first-child + html div#content {
	padding: 50px 0 0 0;
	width: 606px;
}

div#content div.section {
	clear: both;
}

* html div#content div.section {
	padding-top: 2px;
}

div#content div.section ul.pickup {
	clear: both;
	padding: 13px 0 0 0;
	width: 606px;
}

div#content div.section ul.pickup li {
	border: 1px solid #eaeaea;
	float: left;
	min-height: 265px;
	margin-right: 15px;
	width: 190px;
}

div#content div.section ul.pickup li.listLast {
	margin-right: 0;
}

div#content div.section ul.pickup li dl {
	border-top: 1px solid #eaeaea;
	padding: 12px 0 0 15px;
}

div#content div.section ul.pickup li dl dd p {
	font-size: 90%;
	padding: 12px 10px 0 0;
}

div#content div.section ul.pickup li dl dd p.list {
	padding: 14px 8px 10px 0;
	text-align: right;
}

div#content div.section ul.bannerList {
	clear: both;
	margin: 45px 0 14px 0;
}

div#content div.section ul.bannerList li {
	float: left;
	width: auto;
}

div#content div.section ul.bannerList li {
	margin-right: 20px;
}

div#content div.section ul.bannerList li.banner {
	margin-right: 0
}

div#content div.section ul.bannerList li.banner a img {
	background: url(../common/images/bg_dot01.gif) repeat 0 0;
	margin-bottom: 1px;
	padding: 3px;
	width: 287px;
}

div#content div.section ul.bannerList li.banner a:hover img {
	background: url(../common/images/bg_dot04.gif) repeat 0 0;
}

div#content div.section ul.bannerList li p.bannerText {
	margin: 3px 0 0 0;
}

div#content div.section ul.bannerList li p.bannerText a {
	background: url(../common/images/ico_arrow02.gif) no-repeat left 2px;
	color: #a0a0a0;
	font-size: 90%;
	padding-left: 6px;
	text-decoration: none;
}

div#content div.section ul.bannerList li p.bannerText a:hover {
	text-decoration: underline;
}


/* # sidebar
---------------------------------------------------------------------------- */

div#sidebar {
	padding: 24px 0 0 0;
	width: 300px;
}

* html div#sidebar {
	padding: 45px 0 0 0;
}

*:first-child + html div#sidebar {
	padding: 45px 0 0 0;
}

div#sidebar div.section {
	padding: 5px 0 0 0;
	width: 300px;
}

* html div#sidebar div.section {
	margin: 17px 0 0 0;
}

*:first-child + html div#sidebar div.section {
	margin: 17px 0 0 0;
}

div#sidebar div.section h2 {
	position: relative;
}

div#sidebar div.section h2 span {
	position: absolute;
	right: 0;
	top: 2px;
}

div#sidebar div.section ul.eventList {
	padding-bottom: 4px!important;
}

div#sidebar div.section ul.eventList li {
	clear: both;
	margin-bottom: 11px;
}

div#sidebar div.section ul.eventList li dl {
	width: 250px;
}

div#sidebar ul.bannerList {
	margin: 23px 0 20px 0;
}

div#sidebar ul.bannerList li.banner a img {
	background: url(../common/images/bg_dot01.gif) repeat 0 0;
	padding: 3px;
	width: 294px;
}



/* # clearfix
---------------------------------------------------------------------------- */

div#content div.section ul.pickup,
div#content div.gallerySection ul,
div#content div.section ul,
div#content ul.bannerList {
	zoom: 1;
}

div#content div.section ul.pickup:after,
div#content div.gallerySection ul:after,
div#content div.section ul:after,
div#content ul.bannerList:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
