<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>テンプレート2 | 河合塾グループ</title>
<meta name="description" content="『テンプレート2』のページです。固定テキスト" />
<meta name="keywords" content="テンプレート2,固定キーワード" />
<link href="/common/css/import.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="/common/css/font_small.css" rel="alternate stylesheet" title="small" type="text/css" />
<link href="/common/css/font_middle.css" rel="alternate stylesheet" title="middle" type="text/css" />
<link href="/common/css/font_large.css" rel="alternate stylesheet" title="large" type="text/css" />
<link href="../template/css/templates.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="/common/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link rel="contents" href="/" title="ホーム" />
<link rel="index" href="/sitemap/" title="サイトマップ" />
<script type="text/javascript" src="/common/js/jquery-custom.min.js"></script>
<script type="text/javascript" src="/common/js/common.js"></script>
</head>

<body>
<div id="layout">
<!--#include virtual="/common/inc/group_header.html" -->
<!--#include virtual="/common/inc/header.html" -->
<!--#include virtual="/common/inc/gnav.html" -->
<hr />
<div id="topicPath">
<ul>
<li><a href="/">ホーム</a></li>
<li class="current"><strong>テンプレート2</strong></li>
</ul>
<!-- / id topicPath --></div>
<div id="pageBody">
<div id="pageBodyIn">
<div id="visual">
<h1 class="head"><img src="/common/images/visual_dummy.jpg" alt="" width="959" height="150" /></h1>
<!-- / id visual --></div>

<div id="content">
<div id="contentIn">
<div class="sec1">
<div class="hGroup201">
<h2 class="head">見出し</h2>
<!-- / class hGroup201 --></div>

<p class="textT">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>

<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<!-- / class sec1 --></div>

<div class="sec2">
<div class="hGroup201">
<h2 class="head">見出し</h2>
<!-- / class hGroup201 --></div>

<div class="sec2">
<div class="hGroup301">
<h2 class="head">見出し</h2>
<!-- / class hGroup301 --></div>

<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<!-- / class sec2 --></div>

<div class="b2Col">
<div class="b2ColL sec3">
<div class="hGroup302">
<h3 class="head">見出し</h3>
<!-- / class hGroup302 --></div>

<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<!-- / class b2ColL --></div>

<div class="b2ColR sec3">
<div class="hGroup302">
<h3 class="head">見出し</h3>
<!-- / class hGroup302 --></div>

<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<!-- / class b2ColR --></div>
<!-- / class b2Col --></div>

<div class="b2Col">
<div class="b2ColL sec3">
<div class="hGroup302">
<h3 class="head">見出し</h3>
<!-- / class hGroup302 --></div>

<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<!-- / class b2ColL --></div>

<div class="b2ColR sec3">
<div class="hGroup302">
<h3 class="head">見出し</h3>
<!-- / class hGroup302 --></div>

<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<!-- / class b2ColR --></div>
<!-- / class b2Col --></div>
<!-- / class sec2 --></div>

<p class="pageTop"><a href="#layout">このページの先頭へ</a></p>
<!-- / id contentIn --></div>
<!-- / id content --></div>
<hr />
<div id="sidebar">
<!--#include virtual="/common/inc/lnav_templates.html" -->
<!-- / id sidebar --></div>
<!-- / id pageBodyIn --></div>
<!-- / id pageBody --></div>
<hr />
<!--#include virtual="/common/inc/fnav.html" -->
<!--#include virtual="/common/inc/footer.html" -->
<!--#include virtual="/common/inc/group_footer.html" -->
<!-- / id layout --></div>
<script type="text/javascript" src="http://cm2.gio-cubic.net/f.php?c=11f54gntzt"></script>
</body>
</html>