vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Mar 2009 08:44:19 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|31 Mar 2009 08:44:19 -0000
vti_filesize:IR|1657
vti_cachedlinkinfo:VX|S|../img/icons/tabs/bg.gif S|../img/icons/tabs/bg.gif S|../img/icons/tabs/right.gif S|../img/icons/tabs/left.gif S|../img/icons/tabs/left_on.gif S|../img/icons/tabs/right_on.gif S|../img/icons/tabs/right_last.gif S|../img/icons/tabs/left_first.gif
vti_cachedsvcrellinks:VX|FSUS|img/icons/tabs/bg.gif FSUS|img/icons/tabs/bg.gif FSUS|img/icons/tabs/right.gif FSUS|img/icons/tabs/left.gif FSUS|img/icons/tabs/left_on.gif FSUS|img/icons/tabs/right_on.gif FSUS|img/icons/tabs/right_last.gif FSUS|img/icons/tabs/left_first.gif
vti_lineageid:SR|{707B2763-9282-4476-A24A-ECF9A5DFCD04}
vti_backlinkinfo:VX|test/asp/test_mysql.asp test/aspnet/test.aspx test/coldfusion/test.cfm test/asp/test_msaccess.asp test/asp/test_mail.asp test/asp/test_mssql.asp
