RewriteEngine on
RewriteBase /

RewriteRule ^(.*).html$			index.php [L]
RewriteRule ^(.*)/(.*).html$		 	index.php [L]
RewriteRule ^(.*)/(.*)/(.*).html$ 		index.php [L]
RewriteRule ^(.*)/(.*)/(.*)/(.*).html$ 		index.php [L]