@charset "utf-8";

/* Table Of Contents
----------------------------------------

# General Elements
# body
# sidebar

----------------------------------------*/


/* # General Elements
---------------------------------------------------------------------------- */

a    { outline: none; text-decoration: none; color: #000 }
a:hover   { text-decoration: underline; }


/* # body
---------------------------------------------------------------------------- */

body {
	background-color: #fff;
	color: #000;
	font-size: 75%;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	line-height: 1.5;
}


/* # layout
---------------------------------------------------------------------------- */

div#layout {
	padding-top: 10px;
}


/* # sidebar
---------------------------------------------------------------------------- */

div#sidebar {
	width: 224px;
}

div#sidebar div.section {
	background: url(../images/bg_lnav_bottom.gif) no-repeat center bottom;
	padding-bottom: 20px;
}

div#sidebar div.section h2 {
	padding-bottom: 0;
}

div#sidebar div.section ul#lNav {
	background: #dfe3e3;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	margin: 0 auto;
	width: 208px;
}

div#sidebar div.section ul#lNav li {
	border-bottom: 1px solid #cfcfcf;
	width: auto;
}

div#sidebar div.section ul#lNav li a {
	background: #eef0f0 url(../images/bg_lnav.gif) no-repeat 15px 6px;
	display: block;
	padding: 11px 0 10px 39px;
}

div#sidebar div.section ul#lNav li p a,
div#sidebar div.section ul#lNav li a:hover {
	background: #dfe3e3 url(../images/bg_lnav_o.gif) no-repeat 15px 6px;
	text-decoration: none;
}

div#sidebar div.section ul#lNav li.lNavLast {
	border-bottom: none;
}

div#sidebar div.section ul#lNav li ul {
	background: #fff url(../images/bg_lnav_top.gif) no-repeat 0 0;
	margin: 0 auto;
	padding-top: 9px;
	width: 202px;
}

div#sidebar div.section ul#lNav li ul li {
	background: url(../images/bg_line02.gif) no-repeat center bottom;
	border-bottom: none;
	padding: 0 5px 0 17px;
}

* html div#sidebar div.section ul#lNav li ul li {
	height: 39px;
}

div#sidebar div.section ul#lNav li ul li a {
	background: url(../images/ico_arrow.gif) no-repeat 5px 14px;
	padding: 11px 0 11px 23px;
}

div#sidebar div.section ul#lNav li ul li p a,
div#sidebar div.section ul#lNav li ul li a:hover {
	background: url(../images/ico_arrow_o.gif) no-repeat 5px 14px;
}

div#sidebar div.section ul#lNav li ul li ul {
	background: none;
	margin: 0 auto;
	padding: 0 0 14px 0;
	width: 174px;
}

div#sidebar div.section ul#lNav li ul li ul li {
	background: none;
	border-bottom: none;
	padding: 0;
}

* html div#sidebar div.section ul#lNav li ul li ul li {
	height: 25px;
}

div#sidebar div.section ul#lNav li ul li ul li a {
	background: url(../images/ico_arrow.gif) no-repeat 18px 8px;
	padding: 4px 0 5px 34px;
}

div#sidebar div.section ul#lNav li ul li ul li.active a,
div#sidebar div.section ul#lNav li ul li ul li a:hover {
	background: #e4e7e7 url(../images/ico_arrow_o.gif) no-repeat 18px 8px;
}

div#sidebar ul.listBanner {
	background: url(../images/bg_line01.gif) no-repeat top center;
	margin: 24px auto 0 auto;
	padding-top: 6px;
	width: 210px;
}

div#sidebar ul.listBanner li {
	padding-top: 19px;
	width: auto;
}
