<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>global_template</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="common/css/import.css" rel="stylesheet" type="text/css" media="screen,print" />
<link rel="stylesheet" type="text/css" href="ddimgtooltip.css" />
<link href="common/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link rel="contents" href="/" title="ホーム" />
<script type="text/javascript" src="common/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="common/js/tooltip.js"></script>
</head>

<body>
<div id="layout">
<h1>PAGE TEMPLATE</h1>
<ul>
<li><a href="../template01/index.html" target="_blank" rel="imgtip[0]">template01/index.html</a></li>
<li><a href="../template01/2nd_level/index.html" target="_blank" rel="imgtip[1]">template01/2nd_level/index.html</a></li>
<li><a href="../template02/index.html" target="_blank" rel="imgtip[2]">template02/index.html</a></li>
<li><a href="../template02/2nd_level/index.html" target="_blank" rel="imgtip[3]">template02/2nd_level/index.html</a></li>
<li><a href="../template03/index.html" target="_blank" rel="imgtip[4]">template03/index.html</a></li>
<li><a href="../template03/2nd_level/index.html" target="_blank" rel="imgtip[5]">template03/2nd_level/index.html</a></li>
<li><a href="../template04/index.html" target="_blank" rel="imgtip[6]">template04/index.html</a></li>
<li><a href="../template04/2nd_level/index.html" target="_blank" rel="imgtip[7]">template04/2nd_level/index.html</a></li>
<li><a href="../template05/index.html" target="_blank" rel="imgtip[8]">template05/index.html</a></li>
<li><a href="../template05/2nd_level/index.html" target="_blank" rel="imgtip[9]">template05/2nd_level/index.html</a></li>
<li><a href="../template06/index.html" target="_blank" rel="imgtip[10]">template06/index.html</a></li>
<li><a href="../template06/2nd_level/index.html" target="_blank" rel="imgtip[11]">template06/2nd_level/index.html</a></li>
<li><a href="../template07/index.html" target="_blank" rel="imgtip[12]">template07/index.html</a></li>
<li><a href="../template07/2nd_level/index.html" target="_blank" rel="imgtip[13]">template07/2nd_level/index.html</a></li>
<li><a href="../template08/index.html" target="_blank" rel="imgtip[14]">template08/index.html</a></li>
<li><a href="../template08/2nd_level/index.html" target="_blank" rel="imgtip[15]">template08/2nd_level/index.html</a></li>
</ul>
<!-- / id layout --></div>
</body>
</html>